* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgb(255, 165, 0, 0.9), rgb(255, 255, 255, 0.9), rgb(0, 128, 0, 0.9));
    min-height: 100vh;

}

/* navbar section */
.navbar {
    width: 90%;
    margin: 15px auto;
    border-radius: 40px;
    height: 75px;
    background: rgba(255, 255, 255, 0.8);
    /* border-radius: 15px; */
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 128, 0.5);
    border-bottom: 3px solid rgb(13, 35, 109);
    align-items: center;
}

.logo {
    font-size: 2.25vw;
    font-weight: bold;
    color: green;
    min-width: 100px;
    display: flex;
    align-items: center;
    gap: 10px; /* space between image and text */
}

/* circular safe area */
.ashoka-wrap {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;       /* hides rotating corners */
    display: flex;
    align-items: center;
    justify-content: center;
}

.ashoka {
    width: 80%;             /* NOT 100% */
    animation: rotateImg 8s infinite linear;
}

/* custom animation css */
@keyframes rotateImg {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

span {
    color: orange;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;

}

a {
    text-decoration: none;
    font-weight: bold;
    color: navy;
    font-size: 18px;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    bottom: -8px;
    height: 5px;
    background-color: orange;
    transition: width 0.5s;
    border-radius: 1px;

}

a:hover::after {
    width: 100%;
}

/* button */
.nav-btn {
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    animation: btnBgColor 4s infinite linear;
}

@keyframes btnBgColor {
    0%{
        background-color: orangered;
        color: white;
    }
    50%{
        background-color: navy;
        color: white;
    }
    100%{
        background-color: green;
        color: white;
    }
}

.hamburger{
    display: none;
}


/* use media query for navbar */

@media (max-width:700px) {
    .nav-btn{
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .nav-links{
        position: absolute;
        background-color: navy;
        width: 90%;
        flex-direction: column;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 25px 0px;
        opacity: 0;
        transition: none;
    }
    .nav-links.active{
        opacity: 1;
        transition: 1s;
    }
    a{
        color: white;
    }
}

/* Greet Section */
.greet {
    text-align: center;
    padding: 50px 20px;
}

.greet h1 {
    font-size: 4.5vw;
    color: blue;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px rgb(100, 90, 90);
}

.greet p {
    font-size: 1.5vw;
    font-weight: bold;
}

/* Cards Section */
.card-title{
    text-align: center;
    color: navy;
    margin-top: 20px;
    font-size: 3vw;
}

.cards-container{
    width: 90%;
    margin: 20px auto;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.img-card{
    min-width: 300px;
    flex: 1;
    height: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}
.img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-text{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255,0,0,0.5); */
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 25px;
}

.img-text h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.img-text p{
    font-size: 15px;
}